<body class="background">

    <div class="poster">
	    <div>
    <div class="grid-container">
      <input id="friday-headliner" class="grid-item-headliner" type="text" name="">
      <input id="saturday-headliner" class="grid-item-headliner" type="text" name="">
      <input id="sunday-headliner" class="grid-item-headliner" type="text" name="">
      <input id="friday-sub1" class="grid-item-sub" type="text" name="">
      <input id="saturday-sub1" class="grid-item-sub" type="text" name="">
      <input id="sunday-sub1" class="grid-item-sub" type="text" name="">
      <input id="friday-sub2" class="grid-item-sub" type="text" name="">
      <input id="saturday-sub2" class="grid-item-sub" type="text" name="">
      <input id="sunday-sub2" class="grid-item-sub" type="text" name="">
      <input class="grid-item" type="text" name="">
      <input class="grid-item" type="text" name="">
      <input class="grid-item" type="text" name="">
      <input class="grid-item" type="text" name="">
      <input class="grid-item" type="text" name="">
      <input class="grid-item" type="text" name="">
      <input class="grid-item" type="text" name="">
      <input class="grid-item" type="text" name="">
      <input class="grid-item" type="text" name="">
      <input class="grid-item" type="text" name="">
      <input class="grid-item" type="text" name="">
      <input class="grid-item" type="text" name="">
    </div>
    </div>

		<div class="grid-container2">
			<div class="grid-item" type="text" name="">
				<select [(ngModel)]="fridayHeadliner" style="float:right; color:white" (change)="setFridayHeadliner()">
            <option *ngFor="let band of headliners" [value]="band.value">{{band.name}}</option>
			      </select>
			 </div>
			<div class="grid-item" type="text" name="">
				<select [(ngModel)]="saturdayHeadliner" style="float:right; color:white" (change)="setSaturdayHeadliner()">
            <option *ngFor="let band of headliners" [value]="band.value">{{band.name}}</option>
			        </select>
			   </div>
			<div class="grid-item" type="text" name="">
			        <select [(ngModel)]="sundayHeadliner" style="float:right; color:white" (change)="setSundayHeadliner()">
                  <option *ngFor="let band of headliners" [value]="band.value">{{band.name}}</option>
			          </select>
				</div>
			<div class="grid-item" type="text" name="">
				<select [(ngModel)]="fridaySub1" style="float:right; color:white" (change)="setFridaySub1()">
            <option *ngFor="let band of subs" [value]="band.value">{{band.name}}</option>
			  </select>
			</div>
			<div class="grid-item" type="text" name="">
          <select [(ngModel)]="saturdaySub1" style="float:right; color:white" (change)="setSaturdaySub1()">
              <option *ngFor="let band of subs" [value]="band.value">{{band.name}}</option>
			  </select>
      </div>
			<div class="grid-item" type="text" name="">
          <select [(ngModel)]="sundaySub1" style="float:right; color:white" (change)="setSundaySub1()">
              <option *ngFor="let band of subs" [value]="band.value">{{band.name}}</option>
			  </select>
      </div>
			<div class="grid-item" type="text" name="">
          <select [(ngModel)]="fridaySub2" style="float:right; color:white" (change)="setFridaySub2()">
              <option *ngFor="let band of subs" [value]="band.value">{{band.name}}</option>
			  </select>
      </div>
			<div class="grid-item" type="text" name="">
          <select [(ngModel)]="saturdaySub2" style="float:right; color:white" (change)="setSaturdaySub2()">
              <option *ngFor="let band of subs" [value]="band.value">{{band.name}}</option>
			  </select>
      </div>
			<div class="grid-item" type="text" name="">
          <select [(ngModel)]="sundaySub2" style="float:right; color:white" (change)="setSundaySub2()">
              <option *ngFor="let band of subs" [value]="band.value">{{band.name}}</option>
			  </select>
      </div>
		 </div>

    </div>

  </body>
