body {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    margin: 0;
    left: 0;

    overflow-y: auto;
    overflow-x: auto;
}

.background {
    background-color: black;
    height: 100%;
    margin: 0;
    padding: 0;
}

.button {
  background-color: #b5131a;
  color: white;
  width: 135px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

@font-face {
    src: url('../../assets/fonts/MuseoSans_700.otf');
    font-family: 'museo';
}

.poster {
    background-image: url(../../assets/img/downloadfestival.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    background-color: black;
    height: 1000px;
    padding: 0;
    display: flex;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 240px 12px 0 12px;
    height: auto;
    width: 749px;
  }


  .grid-container2 {
      display: grid;
      grid-template-columns: auto auto auto;
      padding: 40px 0 0 12px;
      height: 500px;
      width: 737px;
    }

    .grid-container3 {
      color: white;
      display: grid;
      grid-template-columns: auto auto auto;
      padding: 240px 0 0 12px;
      height: auto;
      width: 737px;
    }

  .grid-item-headliner {
    border: white;
    border-radius: 1px;
    box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.3);
    padding: 5px;
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    height: 70px;
  }

  .grid-item-sub {
    border: white;
    border-radius: 1px;
    box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.3);
    padding: 5px;
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    height: 50px;
  }

  .grid-item-second-stage-headliner {
    border: white;
    border-radius: 1px;
    box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.3);
    padding: 5px;
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    height: 50px;
  }

  .grid-item-second-stage-sub {
    border: white;
    border-radius: 1px;
    box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.3);
    padding: 5px;
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    height: 40px;
  }

  .grid-item {
 /* background-color: rgba(255, 255, 255, 0.8); */
    border: white;
    border-radius: 1px;
    box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.3);
    padding: 5px;
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    height: 25px;
  }

  .grid-item-title {
 /* background-color: rgba(255, 255, 255, 0.8); */
    grid-column-start: 1;
    grid-column-end: 4;
    border: white;
    border-radius: 1px;
    box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.3);
    padding: 5px;
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    height: 25px;
  }

  .grid-item-midsize {
    /* background-color: rgba(255, 255, 255, 0.8); */
       border: white;
       border-radius: 1px;
       box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.3);
       padding: 5px;
       color: white;
       font-family: 'PT Sans Narrow', sans-serif;
       font-weight: 700;
       font-size: 13px;
       text-align: center;
       height: 25px;
     }

  .grid-item-third-stage {
    /* background-color: rgba(255, 255, 255, 0.8); */
       border: white;
       border-radius: 1px;
       box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.3);
       padding: 5px;
       color: white;
       font-family: 'PT Sans Narrow', sans-serif;
       font-weight: 700;
       font-size: 13px;
       text-align: center;
       height: 20px;
     }

.metallica {
  background-image: url(../../assets/headliners/metallica.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.kiss {
  background-image: url(../../assets/headliners/kiss.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 3px solid transparent;
}

.acdc {
  background-image: url(../../assets/headliners/acdc.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 3px solid transparent;
}

.nineinchnails {
  background-image: url(../../assets/headliners/nineinchnails.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 5px solid transparent;
}

.gojira {
  background-image: url(../../assets/subs/gojira.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 3px solid transparent;
}

.fnm {
  background-image: url(../../assets/subs/fnm.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 8px solid transparent;
}

.korn {
  background-image: url(../../assets/subs/korn.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.ghost {
  background-image: url(../../assets/headliners/ghost.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 3px solid transparent;
}

.judaspriest {
  background-image: url(../../assets/subs/judaspriest.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.royalblood {
  background-image: url(../../assets/subs/royalblood.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid transparent;
}

.aliceinchains {
  background-image: url(../../assets/subs/aliceinchains.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.rammstein {
  background-image: url(../../assets/headliners/rammstein.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-top: 1px solid transparent;
}

.blink182 {
  background-image: url(../../assets/headliners/blink182.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-top: 2px solid transparent;
}

.adtr {
  background-image: url(../../assets/headliners/adtr.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 6px solid transparent;

}

.foofighters {
  background-image: url(../../assets/headliners/foofighters.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 12px solid transparent;
}

.pearljam {
  background-image: url(../../assets/headliners/pearljam.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 3px solid transparent;
}

.ironmaiden {
  background-image: url(../../assets/headliners/ironmaiden.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 12px solid transparent;

}

.slipknot {
  background-image: url(../../assets/headliners/slipknot.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.qotsa {
  background-image: url(../../assets/headliners/qotsa.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.alterbridge {
  background-image: url(../../assets/headliners/alterbridge.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.greenday {
  background-image: url(../../assets/headliners/greenday.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
    border: 4px solid transparent;
}

.biffyclyro {
  background-image: url(../../assets/headliners/biffyclyro.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.bmth {
  background-image: url(../../assets/headliners/bmth.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 4px solid transparent;
}

.tool {
  background-image: url(../../assets/headliners/tool.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 14px solid transparent;
}

.gnr {
  background-image: url(../../assets/headliners/gnr.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 8px solid transparent;
}

.soad {
  background-image: url(../../assets/headliners/soad.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 18px solid transparent;
}

.thecure {
  background-image: url(../../assets/headliners/thecure.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 10px solid transparent;
}

.a7x {
  background-image: url(../../assets/headliners/a7x.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid transparent;
}

.defleppard {
  background-image: url(../../assets/headliners/defleppard.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 8px solid transparent;
}

.alltimelow {
  background-image: url(../../assets/subs/alltimelow.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.shinedown {
  background-image: url(../../assets/subs/shinedown.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 14px solid transparent;
}

.babymetal {
  background-image: url(../../assets/subs/babymetal.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.billieeilish {
  background-image: url(../../assets/subs/billieeilish.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 12px solid transparent;
}

.billytalent {
  background-image: url(../../assets/subs/billytalent.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 8px solid transparent;

}

.bsc {
  background-image: url(../../assets/subs/bsc.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.chvrches {
  background-image: url(../../assets/subs/chvrches.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 9px solid transparent;

}

.converge {
  background-image: url(../../assets/subs/converge.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 3px solid transparent;
}

.deftones {
  background-image: url(../../assets/subs/deftones.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.donbroco {
  background-image: url(../../assets/subs/donbroco.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.evanescence {
  background-image: url(../../assets/subs/evanescence.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid transparent;
}

.fcandtherattlesnakes {
  background-image: url(../../assets/subs/fc&therattlesnakes.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid transparent;
}

.idles {
  background-image: url(../../assets/subs/idles.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 6px solid transparent;
}

.kse {
  background-image: url(../../assets/subs/kse.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 11px solid transparent;
}

.limpbizkit {
  background-image: url(../../assets/subs/limpbizkit.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid transparent;
}

.machinehead {
  background-image: url(../../assets/subs/machinehead.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.mastodon {
  background-image: url(../../assets/subs/mastodon.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 3px solid transparent;
}

.mercyfulfate {
  background-image: url(../../assets/subs/mercyfulfate.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.misfits {
  background-image: url(../../assets/subs/misfits.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.nightwish {
  background-image: url(../../assets/subs/nightwish.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 4px solid transparent;
}

.paparoach {
  background-image: url(../../assets/subs/paparoach.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 4px solid transparent;
}

.parkwaydrive {
  background-image: url(../../assets/subs/parkwaydrive.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.rancid {
  background-image: url(../../assets/subs/rancid.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 6px solid transparent;
}

.rivalsons {
  background-image: url(../../assets/subs/rivalsons.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.architects {
  background-image: url(../../assets/subs/architects.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 6px solid transparent;
}

.runthejewels {
  background-image: url(../../assets/subs/runthejewels.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid transparent;
}

.sabaton {
  background-image: url(../../assets/subs/sabaton.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.sum41 {
  background-image: url(../../assets/subs/sum41.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.testament {
  background-image: url(../../assets/subs/testament.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid transparent;
}

.volbeat {
  background-image: url(../../assets/subs/volbeat.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.withintemptation {
  background-image: url(../../assets/subs/withintemptation.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 5px solid transparent;
}

.againstme {
  background-image: url(../../assets/subs/againstme.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid transparent;
}

.alicecooper {
  background-image: url(../../assets/subs/alicecooper.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 6px solid transparent;
}

.disturbed {
  background-image: url(../../assets/subs/disturbed.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 5px solid transparent;
}

.hollywoodvampires {
  background-image: url(../../assets/subs/hollywoodvampires.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.marmozets {
  background-image: url(../../assets/subs/marmozets.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 12px solid transparent;
}

.primus {
  background-image: url(../../assets/subs/primus.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 8px solid transparent;
}

.staind {
  background-image: url(../../assets/subs/staind.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid transparent;
}

.stonesour {
  background-image: url(../../assets/subs/stonesour.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 5px solid transparent;
}

.themarsvolta {
  background-image: url(../../assets/subs/themarsvolta.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 11px solid transparent;
}

.weezer {
  background-image: url(../../assets/subs/weezer.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.theoffspring {
  background-image: url(../../assets/subs/theoffspring.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 4px solid transparent;
}

.ffdp {
  background-image: url(../../assets/subs/5fdp.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.entershikari {
  background-image: url(../../assets/subs/entershikari.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid transparent;
}

.airbourne {
  background-image: url(../../assets/midsize/airbourne.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 4px solid transparent;
}

.blacklabelsociety {
  background-image: url(../../assets/midsize/blacklabelsociety.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}


.marilynmanson {
  background-image: url(../../assets/subs/marilynmanson.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 3px solid transparent;
}

.neckdeep {
  background-image: url(../../assets/midsize/neckdeep.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 9px solid transparent;
}

.alkalinetrio {
  background-image: url(../../assets/midsize/alkalinetrio.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 4px solid transparent;
}

.ava {
  background-image: url(../../assets/midsize/ava.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid transparent;
}

.bfs {
  background-image: url(../../assets/midsize/bfs.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.burytomorrow {
  background-image: url(../../assets/midsize/burytomorrow.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid transparent;

}

.candc {
  background-image: url(../../assets/midsize/candc.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid transparent;
}

.creeper {
  background-image: url(../../assets/midsize/creeper.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 3px solid transparent;
}

.devintownsend {
  background-image: url(../../assets/midsize/devintownsend.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 7px solid transparent;
}

.dropkickmurphys {
  background-image: url(../../assets/midsize/dropkickmurphys.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.goodcharlotte {
  background-image: url(../../assets/midsize/goodcharlotte.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.gvf {
  background-image: url(../../assets/midsize/gvf.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 4px solid transparent;
}

.jew {
  background-image: url(../../assets/midsize/jew.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 6px solid transparent;
}

.menzingers {
  background-image: url(../../assets/midsize/menzingers.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 6px solid transparent;
}

.periphery {
  background-image: url(../../assets/midsize/periphery.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.piercetheveil {
  background-image: url(../../assets/midsize/piercetheveil.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.refused {
  background-image: url(../../assets/midsize/refused.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.saxon {
  background-image: url(../../assets/midsize/saxon.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.thedistillers {
  background-image: url(../../assets/midsize/thedistillers.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.theghostinside {
  background-image: url(../../assets/midsize/theghostinside.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 14px solid transparent;
}

.theprettyreckless {
  background-image: url(../../assets/midsize/theprettyreckless.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.wildhearts {
  background-image: url(../../assets/midsize/wildhearts.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid transparent;
}

.wss {
  background-image: url(../../assets/midsize/wss.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid transparent;
}

.zebrahead {
  background-image: url(../../assets/midsize/zebrahead.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.ghostwriters {
  background-image: url(../../assets/smallsize/ghostwriters.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.aild {
  background-image: url(../../assets/smallsize/aild.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 4px solid transparent;
}

.mrbungle {
  background-image: url(../../assets/smallsize/mrbungle.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 3px solid transparent;
}

.soia {
  background-image: url(../../assets/smallsize/soia.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 3px solid transparent;
}

.suicidaltendencies {
  background-image: url(../../assets/smallsize/suicidaltendencies.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid transparent;
}

.therapy {
  background-image: url(../../assets/smallsize/therapy.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 9px solid transparent;
}

.anaalnathrakh {
  background-image: url(../../assets/smallsize/anaalnathrakh.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.andrewwk {
  background-image: url(../../assets/smallsize/andrewwk.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 7px solid transparent;
}

.carpenterbrut {
  background-image: url(../../assets/smallsize/carpenterbrut.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.codeorange {
  background-image: url(../../assets/smallsize/codeorange.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 10px solid transparent;
}

.cultofluna {
  background-image: url(../../assets/smallsize/cultofluna.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 11px solid transparent;
}

.deicide {
  background-image: url(../../assets/smallsize/deicide.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.dimmuborgir {
  background-image: url(../../assets/smallsize/dimmuborgir.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 4px solid transparent;
}

.inme {
  background-image: url(../../assets/smallsize/inme.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 8px solid transparent;
}

.killingjoke {
  background-image: url(../../assets/smallsize/killingjoke.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 10px solid transparent;
}

.milkteeth {
  background-image: url(../../assets/smallsize/milkteeth.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 7px solid transparent;
}

.ministry {
  background-image: url(../../assets/smallsize/ministry.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.monuments {
  background-image: url(../../assets/smallsize/monuments.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 7px solid transparent;
}

.mykur {
  background-image: url(../../assets/smallsize/mykur.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid transparent;
}

.napalmdeath {
  background-image: url(../../assets/smallsize/napalmdeath.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.oathbreaker {
  background-image: url(../../assets/smallsize/oathbreaker.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 9px solid transparent;
}

.russiancircles {
  background-image: url(../../assets/smallsize/russiancircles.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 6px solid transparent;
}

.sftp {
  background-image: url(../../assets/smallsize/sftp.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.suicidesilence {
  background-image: url(../../assets/smallsize/suicidesilence.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.tbdm {
  background-image: url(../../assets/smallsize/tbdm.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.thyartismurder {
  background-image: url(../../assets/smallsize/thyartismurder.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.watain {
  background-image: url(../../assets/smallsize/watain.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.bfmv {
  background-image: url(../../assets/subs/bfmv.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.trivium {
  background-image: url(../../assets/subs/trivium.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.robzombie {
  background-image: url(../../assets/subs/robzombie.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid transparent;
}

.afi {
  background-image: url(../../assets/subs/afi.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid transparent;
}

.megadeth {
  background-image: url(../../assets/subs/megadeth.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 6px solid transparent;
}

.alestorm {
  background-image: url(../../assets/midsize/alestorm.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 9px solid transparent;
}

.allthatremains {
  background-image: url(../../assets/midsize/allthatremains.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 7px solid transparent;
}

.puddleofmudd {
  background-image: url(../../assets/smallsize/puddleofmudd.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid transparent;
}

.neurosis {
  background-image: url(../../assets/smallsize/neurosis.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 8px solid transparent;
}

.helloween {
  background-image: url(../../assets/smallsize/helloween.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 3px solid transparent;
}

.trophyeyes {
  background-image: url(../../assets/midsize/trophyeyes.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 7px solid transparent;
}

.tssf {
  background-image: url(../../assets/midsize/tssf.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid transparent;
}

.scarlxrd {
  background-image: url(../../assets/smallsize/scarlxrd.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 6px solid transparent;
}

.riseagainst {
  background-image: url(../../assets/subs/riseagainst.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 4px solid transparent;
}

.avril {
  background-image: url(../../assets/midsize/avril.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid transparent;
}

.nfg {
  background-image: url(../../assets/midsize/nfg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 4px solid transparent;
}

.nofx {
  background-image: url(../../assets/midsize/nofx.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 4px solid transparent;
}

.behemoth {
  background-image: url(../../assets/midsize/behemoth.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 3px solid transparent;
}

.down {
  background-image: url(../../assets/midsize/down.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.sws {
  background-image: url(../../assets/midsize/sws.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.opeth {
  background-image: url(../../assets/midsize/opeth.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.scarlxrd {
  background-image: url(../../assets/midsize/scarlxrd.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 4px solid transparent;
}

.evilscarecrow {
  background-image: url(../../assets/smallsize/evilscarecrow.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.satyricon {
  background-image: url(../../assets/smallsize/satyricon.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.paradiselost {
  background-image: url(../../assets/smallsize/paradiselost.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.cancerbats {
  background-image: url(../../assets/smallsize/cancerbats.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 5px solid transparent;
}

.none {
	background-size: contain;
     background-repeat: no-repeat;
     background-position: center;
}

.kreator {
  background-image: url(../../assets/smallsize/kreator.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid transparent;
}

.meshuggah {
  background-image: url(../../assets/midsize/meshuggah.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 6px solid transparent;
}


/*

@media only screen and (max-width: 768px) {
	body {
    		background-color: lightblue;
  	}

  	.poster {
      	background-size: contain;
      	background-repeat: no-repeat;
      	background-position: left;
      	background-color: black;
      	width: 100%;
      	padding: 0;
      	display: flex;
  	}

	.background {
	    background-color: black;
	    height: 100%;
	    margin: 0;
	    padding: 0;
	}

	.button {
		display:block;
		background-color: #b5131a;
	     color: white;
	     width: 20px;
	     text-align: center;
	     text-decoration: none;
	     font-size: 11px;
	}

	@font-face {
	    src: url('../../assets/fonts/MuseoSans_700.otf');
	    font-family: 'museo';
	}

	.grid-container {
		display: block;
		grid-template-columns: auto auto auto;
		padding: 40px 0 0 12px;
		width: 90%;

	  }


	  .grid-container2 {
		  display: grid;
	       grid-template-columns: auto auto auto;
	       padding: 40px 0 0 12px;
	       width: 90%;
		  position:fixed;
    top:0;
    z-index:100;
	    }

	    .grid-container3 {

	    }

	  .grid-item-headliner {

	  }

	  .grid-item-sub {

	  }

	  .grid-item-second-stage-headliner {

	  }

	  .grid-item-second-stage-sub {

	  }

	  .grid-item {
	    border: white;
	    border-radius: 1px;
	    box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.3);
	    padding: 5px;
	    color: white;
	    font-family: 'PT Sans Narrow', sans-serif;
	    font-weight: 700;
	    font-size: 15px;
	    text-align: center;
	    width: 50px;

	  }

	  .grid-item-title {
		     border: white;
		     border-radius: 1px;
		     box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.3);
		     padding: 5px;
		     color: white;
		     font-family: 'PT Sans Narrow', sans-serif;
		     font-weight: 700;
		     font-size: 15px;
		     text-align: center;

	  }

	  .grid-item-midsize {
		     border: white;
		     border-radius: 1px;
		     box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.3);
		     padding: 5px;
		     color: white;
		     font-family: 'PT Sans Narrow', sans-serif;
		     font-weight: 700;
		     font-size: 15px;
		     text-align: center;

	     }

	  .grid-item-third-stage {
		     border: white;
		     border-radius: 1px;
		     box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.3);
		     padding: 5px;
		     color: white;
		     font-family: 'PT Sans Narrow', sans-serif;
		     font-weight: 700;
		     font-size: 15px;
		     text-align: center;
	     }
      } 
*/