
body {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    margin: 0;
    left: 0;
}

.background {
    background-color: black;
    height: 100%;
    margin: 0;
    padding: 0;
}

@font-face {
    src: url('../../assets/fonts/MuseoSans_700.otf');
    font-family: 'museo';
}

.poster {
    background-image: url(../../assets/img/downloadfestival.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    background-color: black;
    height: 1000px;
    padding: 0;
    display: flex;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 240px 0 0 12px;
    height: auto;
    width: 737px;
  }


  .grid-container2 {
      display: grid;
      grid-template-columns: auto auto auto;
      padding: 240px 0 0 12px;
      height: auto;
      width: 737px;
    }

  .grid-item-headliner {
    border: white;
    border-radius: 1px;
    box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.3);
    padding: 5px;
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    height: 70px;
  }

  .grid-item-sub {
    border: white;
    border-radius: 1px;
    box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.3);
    padding: 5px;
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    height: 50px;
  }
  .grid-item {
 /* background-color: rgba(255, 255, 255, 0.8); */
    border: white;
    border-radius: 1px;
    box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.3);
    padding: 5px;
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    height: 25px;
  }

.metallica {
  background-image: url(../../assets/headliners/metallica.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.kiss {
  background-image: url(../../assets/headliners/kiss.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 3px solid transparent;
}

.acdc {
  background-image: url(../../assets/headliners/acdc.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 3px solid transparent;
}

.nineinchnails {
  background-image: url(../../assets/headliners/nineinchnails.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 8px solid transparent;
}

.gojira {
  background-image: url(../../assets/subs/gojira.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 3px solid transparent;

}

.korn {
  background-image: url(../../assets/subs/korn.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.ghost {
  background-image: url(../../assets/headliners/ghost.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 3px solid transparent;
}

.judaspriest {
  background-image: url(../../assets/subs/judaspriest.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.royalblood {
  background-image: url(../../assets/subs/royalblood.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.aliceinchains {
  background-image: url(../../assets/subs/aliceinchains.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.rammstein {
  background-image: url(../../assets/headliners/rammstein.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-top: 1px solid transparent;
}

.blink182 {
  background-image: url(../../assets/headliners/blink182.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.adtr {
  background-image: url(../../assets/headliners/adtr.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 4px solid transparent;

}

.foofighters {
  background-image: url(../../assets/headliners/foofighters.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.pearljam {
  background-image: url(../../assets/headliners/pearljam.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.ironmaiden {
  background-image: url(../../assets/headliners/ironmaiden.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 6px solid transparent;

}

.slipknot {
  background-image: url(../../assets/headliners/slipknot.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.qotsa {
  background-image: url(../../assets/headliners/qotsa.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.alterbridge {
  background-image: url(../../assets/headliners/alterbridge.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.greenday {
  background-image: url(../../assets/headliners/greenday.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.biffyclyro {
  background-image: url(../../assets/headliners/biffyclyro.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.bmth {
  background-image: url(../../assets/headliners/bmth.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 4px solid transparent;
}

.tool {
  background-image: url(../../assets/headliners/tool.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 10px solid transparent;
}

.gnr {
  background-image: url(../../assets/headliners/gnr.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.soad {
  background-image: url(../../assets/headliners/soad.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 4px solid transparent;
}

.a7x {
  background-image: url(../../assets/headliners/a7x.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid transparent;
}

.defleppard {
  background-image: url(../../assets/headliners/defleppard.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 4px solid transparent;
}

.alltimelow {
  background-image: url(../../assets/subs/alltimelow.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.babymetal {
  background-image: url(../../assets/subs/babymetal.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.billieeilish {
  background-image: url(../../assets/subs/billieeilish.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 12px solid transparent;
}

.billytalent {
  background-image: url(../../assets/subs/billytalent.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 12px solid transparent;

}

.bsc {
  background-image: url(../../assets/subs/bsc.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.chvrches {
  background-image: url(../../assets/subs/chvrches.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 6px solid transparent;

}

.converge {
  background-image: url(../../assets/subs/converge.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.deftones {
  background-image: url(../../assets/subs/deftones.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.donbroco {
  background-image: url(../../assets/subs/donbroco.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.evanescence {
  background-image: url(../../assets/subs/evanescence.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.fcandtherattlesnakes {
  background-image: url(../../assets/subs/fc&therattlesnakes.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.idles {
  background-image: url(../../assets/subs/idles.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 4px solid transparent;
}

.kse {
  background-image: url(../../assets/subs/kse.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.limpbizkit {
  background-image: url(../../assets/subs/limpbizkit.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.machinehead {
  background-image: url(../../assets/subs/machinehead.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.mastodon {
  background-image: url(../../assets/subs/mastodon.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.mercyfulfate {
  background-image: url(../../assets/subs/mercyfulfate.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.misfits {
  background-image: url(../../assets/subs/misfits.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.nightwish {
  background-image: url(../../assets/subs/nightwish.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.paparoach {
  background-image: url(../../assets/subs/paparoach.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 4px solid transparent;
}

.parkwaydrive {
  background-image: url(../../assets/subs/parkwaydrive.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.rancid {
  background-image: url(../../assets/subs/rancid.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 6px solid transparent;
}

.rivalsons {
  background-image: url(../../assets/subs/rivalsons.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.runthejewels {
  background-image: url(../../assets/subs/runthejewels.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.sabaton {
  background-image: url(../../assets/subs/sabaton.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.sum41 {
  background-image: url(../../assets/subs/sum41.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.testament {
  background-image: url(../../assets/subs/testament.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.volbeat {
  background-image: url(../../assets/subs/volbeat.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.withintemptation {
  background-image: url(../../assets/subs/withintemptation.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 4px solid transparent;
}