<body class="background">
	<div class="poster" id="printposter">
	<div id="postersize">

	<div class="grid-container" id="grid-container">

      	<div id="friday-headliner" class="grid-item-headliner" type="text">
			<select class="grid-item" [(ngModel)]="fridayHeadliner" class="bands-dropdown" (change)="setLogo('friday-headliner', fridayHeadliner)">
				<option *ngFor="let band of headliners" [value]="band.value">{{band.name}}</option>
			</select>
	  	</div>

      	<div id="saturday-headliner" class="grid-item-headliner" type="text">
			<select class="grid-item" [(ngModel)]="saturdayHeadliner" class="bands-dropdown" (change)="setLogo('saturday-headliner', saturdayHeadliner)">
				<option *ngFor="let band of headliners" [value]="band.value">{{band.name}}</option>
			</select>
	  	</div>
	
      	<div id="sunday-headliner" class="grid-item-headliner" type="text">
			<select class="grid-item" [(ngModel)]="sundayHeadliner" class="bands-dropdown" (change)="setLogo('sunday-headliner', sundayHeadliner)">
				<option *ngFor="let band of headliners" [value]="band.value">{{band.name}}</option>
			</select>
	  	</div>

	  	<div id="friday-sub1" class="grid-item-sub" type="text">
			<select class="grid-item" [(ngModel)]="fridaySub1" class="bands-dropdown" (change)="setLogo('friday-sub1', fridaySub1)">
				<option *ngFor="let band of subs" [value]="band.value">{{band.name}}</option>
			</select>
	  	</div>

	  	<div id="saturday-sub1" class="grid-item-sub" type="text">
			<select class="grid-item" [(ngModel)]="saturdaySub1" class="bands-dropdown" (change)="setLogo('saturday-sub1', saturdaySub1)">
				<option *ngFor="let band of subs" [value]="band.value">{{band.name}}</option>
			</select>
	  	</div>

	  	<div id="sunday-sub1" class="grid-item-sub" type="text">
			<select class="grid-item" [(ngModel)]="sundaySub1" class="bands-dropdown" (change)="setLogo('sunday-sub1', sundaySub1)">
				<option *ngFor="let band of subs" [value]="band.value">{{band.name}}</option>
			</select>
	  	</div>
	
	  	<div id="friday-sub2" class="grid-item-sub" type="text">
			<select class="grid-item" [(ngModel)]="fridaySub2" class="bands-dropdown" (change)="setLogo('friday-sub2', fridaySub2)">
				<option *ngFor="let band of subsExtended" [value]="band.value">{{band.name}}</option>
			</select>
	  	</div>

	  	<div id="saturday-sub2" class="grid-item-sub" type="text">
			<select class="grid-item" [(ngModel)]="saturdaySub2" class="bands-dropdown" (change)="setLogo('saturday-sub2', saturdaySub2)">
				<option *ngFor="let band of subsExtended" [value]="band.value">{{band.name}}</option>
			</select>
	  	</div>

	 	<div id="sunday-sub2" class="grid-item-sub" type="text">
			<select class="grid-item" [(ngModel)]="sundaySub2" class="bands-dropdown" (change)="setLogo('sunday-sub2', sundaySub2)">
				<option *ngFor="let band of subsExtended" [value]="band.value">{{band.name}}</option>
			</select>
		</div>

      	<input class="grid-item" type="text">
      	<input class="grid-item" type="text">
      	<input class="grid-item" type="text">
     	<input class="grid-item" type="text">
     	<input class="grid-item" type="text">
      	<input class="grid-item" type="text">
      	<input class="grid-item" type="text">
      	<input class="grid-item" type="text">
      	<input class="grid-item" type="text">
      	<input class="grid-item" type="text">
      	<input class="grid-item" type="text">
      	<input class="grid-item" type="text">

     	<div style="height:10px"></div>
     	<div stlye="height:10px"></div>
     	<div style="height:10px"></div>

	 	<div id="friday-second-stage-headliner" class="grid-item-second-stage-headliner" type="text">
			<select class="grid-item" [(ngModel)]="fridaySecondStageHeadliner" class="bands-dropdown" (change)="setLogo('friday-second-stage-headliner', fridaySecondStageHeadliner)">
				<option *ngFor="let band of subsExtended" [value]="band.value">{{band.name}}</option>
			</select>
	  	</div>

	  	<div id="saturday-second-stage-headliner" class="grid-item-second-stage-headliner" type="text">
			<select class="grid-item" [(ngModel)]="saturdaySecondStageHeadliner" class="bands-dropdown" (change)="setLogo('saturday-second-stage-headliner', saturdaySecondStageHeadliner)">
				<option *ngFor="let band of subsExtended" [value]="band.value">{{band.name}}</option>
			</select>
	  	</div>

	  	<div id="sunday-second-stage-headliner" class="grid-item-second-stage-headliner" type="text">
			<select class="grid-item" [(ngModel)]="sundaySecondStageHeadliner" class="bands-dropdown" (change)="setLogo('sunday-second-stage-headliner', sundaySecondStageHeadliner)">
				<option *ngFor="let band of subsExtended" [value]="band.value">{{band.name}}</option>
			</select>
	  	</div>

	  	<div id="friday-second-stage-sub" class="grid-item-second-stage-sub" type="text">
			<select class="grid-item" [(ngModel)]="fridaySecondStageSub" class="bands-dropdown" (change)="setLogo('friday-second-stage-sub', fridaySecondStageSub)">
				<option *ngFor="let band of subsListSecondStage" [value]="band.value">{{band.name}}</option>
			</select>
	  	</div>

	  	<div id="saturday-second-stage-sub" class="grid-item-second-stage-sub" type="text">
			<select class="grid-item" [(ngModel)]="saturdaySecondStageSub" class="bands-dropdown" (change)="setLogo('saturday-second-stage-sub', saturdaySecondStageSub)">
				<option *ngFor="let band of subsListSecondStage" [value]="band.value">{{band.name}}</option>
			</select>
	  	</div>

	  	<div id="sunday-second-stage-sub" class="grid-item-second-stage-sub" type="text">
			<select class="grid-item" [(ngModel)]="sundaySecondStageSub" class="bands-dropdown" (change)="setLogo('sunday-second-stage-sub', sundaySecondStageSub)">
				<option *ngFor="let band of subsListSecondStage" [value]="band.value">{{band.name}}</option>
			</select>
	  	</div>

   	    <input class="grid-item-midsize" type="text">
   	    <input class="grid-item-midsize" type="text">
   	    <input class="grid-item-midsize" type="text">
    	<input class="grid-item-midsize" type="text">
		<input class="grid-item-midsize" type="text">
      	<input class="grid-item-midsize" type="text">
      	<input class="grid-item-midsize" type="text">
      	<input class="grid-item-midsize" type="text">
      	<input class="grid-item-midsize" type="text">
      	<input class="grid-item-midsize" type="text">
      	<input class="grid-item-midsize" type="text">
      	<input class="grid-item-midsize" type="text">

      	<div style="height:10px"></div>
      	<div stlye="height:10px"></div>
      	<div style="height:10px"></div>

	  	<div id="friday-third-stage-headliner" class="grid-item-second-stage-sub" type="text">
			<select class="grid-item" [(ngModel)]="fridayThirdStageHeadliner" class="bands-dropdown" (change)="setLogo('friday-third-stage-headliner', fridayThirdStageHeadliner)">
				<option *ngFor="let band of thirdStage" [value]="band.value">{{band.name}}</option>
			</select>
	  	</div>

	  	<div id="saturday-third-stage-headliner" class="grid-item-second-stage-sub" type="text">
			<select class="grid-item" [(ngModel)]="saturdayThirdStageHeadliner" class="bands-dropdown" (change)="setLogo('saturday-third-stage-headliner', saturdayThirdStageHeadliner)">
				<option *ngFor="let band of thirdStage" [value]="band.value">{{band.name}}</option>
			</select>
	  	</div>

	 	<div id="sunday-third-stage-headliner" class="grid-item-second-stage-sub" type="text">
			<select class="grid-item" [(ngModel)]="sundayThirdStageHeadliner" class="bands-dropdown" (change)="setLogo('sunday-third-stage-headliner', sundayThirdStageHeadliner)">
				<option *ngFor="let band of thirdStage" [value]="band.value">{{band.name}}</option>
			</select>
	  	</div>

	  	<div style="height:5px"></div>
      	<div stlye="height:5px"></div>
      	<div style="height:5px"></div>
      	<input class="grid-item-third-stage" type="text">
      	<input class="grid-item-third-stage" type="text">
      	<input class="grid-item-third-stage" type="text">
      	<input class="grid-item-third-stage" type="text">
      	<input class="grid-item-third-stage" type="text">
      	<input class="grid-item-third-stage" type="text">
      	<input class="grid-item-third-stage" type="text">
      	<input class="grid-item-third-stage" type="text">
      	<input class="grid-item-third-stage" type="text">

      	<div style="height:15px"></div>
      	<div stlye="height:15px"></div>
	  	<div style="height:15px"></div>
	  
	  	<div id="friday-fourth-stage-headliner" class="grid-item-second-stage-sub" type="text">
			<select class="grid-item" [(ngModel)]="fridayFourthStageHeadliner" class="bands-dropdown" (change)="setLogo('friday-fourth-stage-headliner', fridayFourthStageHeadliner)">
				<option *ngFor="let band of fourthStage" [value]="band.value">{{band.name}}</option>
			</select>
	  	</div>

	  	<div id="saturday-fourth-stage-headliner" class="grid-item-second-stage-sub" type="text">
			<select class="grid-item" [(ngModel)]="saturdayFourthStageHeadliner" class="bands-dropdown" (change)="setLogo('saturday-fourth-stage-headliner', saturdayFourthStageHeadliner)">
				<option *ngFor="let band of fourthStage" [value]="band.value">{{band.name}}</option>
			</select>
	  	</div>

	  	<div id="sunday-fourth-stage-headliner" class="grid-item-second-stage-sub" type="text">
			<select class="grid-item" [(ngModel)]="sundayFourthStageHeadliner" class="bands-dropdown" (change)="setLogo('sunday-fourth-stage-headliner', sundayFourthStageHeadliner)">
				<option *ngFor="let band of fourthStage" [value]="band.value">{{band.name}}</option>
			</select>
	  	</div>

 		<div style="height:5px"></div>
 		<div stlye="height:5px"></div>
		<div style="height:5px"></div>

		<input class="grid-item-third-stage" type="text">
 		<input class="grid-item-third-stage" type="text">
 		<input class="grid-item-third-stage" type="text">
 		<input class="grid-item-third-stage" type="text">
 		<input class="grid-item-third-stage" type="text">
		<input class="grid-item-third-stage" type="text">
      	<input class="grid-item-third-stage" type="text">
      	<input class="grid-item-third-stage" type="text">
      	<input class="grid-item-third-stage" type="text">

	</div>

		<div style="height:100px; text-align: center; padding-top: 60px;">
			<button class="button" (click)="printQ()">Download Poster</button>
		</div>
   
    </div>
	</div>
</body>
