<body class="background">

  <div class="poster">

  <div class="grid-container">
    <input class="grid-item-headliner" type="text" name="">
    <input class="grid-item-headliner" type="text" name="">
    <input class="grid-item-headliner" type="text" name="">
    <input class="grid-item-sub" type="text" name="">
    <input class="grid-item-sub" type="text" name="">
    <input class="grid-item-sub" type="text" name="">
    <input class="grid-item-sub" type="text" name="">
    <input class="grid-item-sub" type="text" name="">
    <input class="grid-item-sub" type="text" name="">
    <input class="grid-item" type="text" name="">
    <input class="grid-item" type="text" name="">
    <input class="grid-item" type="text" name="">
    <input class="grid-item" type="text" name="">
    <input class="grid-item" type="text" name="">
    <input class="grid-item" type="text" name="">
    <input class="grid-item" type="text" name="">
    <input class="grid-item" type="text" name="">
    <input class="grid-item" type="text" name="">
    <input class="grid-item" type="text" name="">
    <input class="grid-item" type="text" name="">
    <input class="grid-item" type="text" name="">
  </div>
  </div>

</body>
 

<router-outlet></router-outlet>
