
body {  
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
  
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
  
    /* Set up positioning */
    position: fixed;
    margin: 0;
    left: 0;
}  

.background {
    background-color: black;
    background-image: url(../assets/img/downloadfestival.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
    height: 100%;
    margin: 0;
    padding: 0;
}